$orangeColor: #ff5c00;
$violetButtonColor: #544cac;
$violetTextColor: #4238af;
$darkTextColor: #353434;
$lightGrayTextColor: #a8a8a8;
$grayTextColor: #959595;
$backgroundColorSoft: #f5f7ff;
$backgroundColorExtraSoft: #f9faff;
