@use 'reset';
@use 'fonts' as *;
@use 'variables' as *;

html {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans-Regular';
  background-color: $backgroundColor;
}
.wrapper {
  max-width: 1100px;
  margin: auto;

  // @media screen and (max-width: 360px) {
  //   padding-left: 16px;
  //   padding-right: 16px;
  // }
}

header {
  background-color: $backgroundColorSoft;
  padding: 23px 0px;

  .wrapper {
    @include flex_horizonAlign(space-between);

    .logo-box {
      @include flex_verticalAlign(center);
      gap: 4px;

      .logo-title {
        font-family: 'odibee_sans-regular';
        font-size: 29px;
        color: #272626;
      }
    }
    .nav-bar {
      @include flex_verticalAlign(center);

      ul.menu-container {
        display: flex;
        gap: 34px;
        li {
          .menu-item {
            font-family: 'Open Sans-Regular';
            color: $extraDarkTextColor;
            transition: 0.3s;

            &:hover {
              color: $violetTextColor;
            }
          }
        }
      }
    }
    .tools-box {
      @include flex_verticalAlign(center);
      gap: 26px;

      .search-box {
        position: relative;

        .search-input {
          font-family: 'Open Sans-Regular';
          border-radius: 50px;
          padding: 10px 20px;
          background-color: white;
          width: 307px;
          caret-color: #a5a5a5;

          &::placeholder {
            font-family: 'Open Sans-Regular';
            color: #a5a5a5;
          }
        }
        .search-btn {
          background-color: rgba(192, 194, 248, 0.22);
          width: 28px;
          height: 28px;
          border-radius: 50px;
          background-image: url('./../img/icons/search.svg');
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          top: calc(50% - 28px / 2);
          right: 7px;
          transition: 0.4s;

          &:hover {
            transform: scale(115%);
          }
        }
      }
      .auth-box {
        .sign-in,
        .sign-up {
          color: $extraDarkTextColor;
          font-family: 'Open Sans-Regular';
          transition: 0.3s;

          &:hover {
            color: $violetTextColor;
          }
        }
        .symbol {
          color: $extraDarkTextColor;
          font-family: 'Open Sans-Regular';
        }
      }
    }
  }
}
main {
  section.main-banner {
    background-color: $backgroundColorSoft;
    padding-top: 32px;
    margin-bottom: 32px;
    box-shadow: 0 22px 23px 0 rgba(49, 49, 49, 0.1);

    .wrapper {
      @include flex_verticalAlign(center);

      .content-box {
        .title {
          font-family: 'Prompt-Regular';
          font-size: 45px;
          line-height: 122%;
          color: $darkTextColor;
          letter-spacing: 0.07em;
          margin-bottom: 18px;

          span {
            color: $orangeColor;
          }
        }
        .text {
          color: $lightGrayTextColor;
          line-height: 171%;
          letter-spacing: 0.02em;
          margin-bottom: 30px;
        }
        .buttons-box {
          display: flex;
          gap: 29px;

          .discover-btn {
            font-size: 16px;
            color: white;
            letter-spacing: 0.02em;
            padding: 12px 22px;
            border-radius: 6px;
            background-color: $violetButtonColor;
            box-shadow: 0 4px 23px 0 rgba(49, 49, 49, 0.3);
            transition: 0.4s;

            &:hover {
              background-color: #3225c1;
            }
          }
          .watch-btn {
            color: black;
            font-size: 16px;
            border-radius: 6px;
            padding: 0px 5px;
            display: inline-flex;
            align-items: center;
            gap: 10px;
            transition: 0.4s;

            &:hover {
              background-color: #ededed;
            }

            .icon-play {
              border-radius: 50%;
              width: 44px;
              height: 44px;
              background-color: white;
              position: relative;

              &::before {
                @include before_after('./../img/icons/play.svg', 23px, 23px);
                position: absolute;
                top: calc(50% - 23px / 2);
                left: calc(50% - 23px / 2);
              }
            }
          }
        }
      }
    }
  }
  section.start-find-job {
    margin-bottom: 120px;
    .wrapper {
      .companies-logos-box {
        margin-bottom: 66px;
        @include flex_AlignBooth(space-between, center);

        .logo {
          &:nth-child(1) {
            width: 57px;
            height: 66px;
          }
          &:nth-child(2) {
            width: 126px;
            height: 106px;
          }
          &:nth-child(3) {
            width: 152px;
            height: 69px;
          }
          &:nth-child(4) {
            width: 119px;
            height: 112px;
          }
          &:nth-child(5) {
            width: 110px;
            height: 72px;
          }
          &:nth-child(6) {
            width: 105px;
            height: 104px;
          }
        }
      }
      .steps-for-job-box {
        .mini-title {
          font-family: 'Oswald-Regular';
          font-size: 12px;
          color: $orangeColor;
          letter-spacing: 0.05em;
          margin-bottom: 19px;
        }
        .flex-box {
          display: flex;
          gap: 40px;

          .content-box {
            .title {
              font-family: 'Oswald-Regular';
              font-size: 40px;
              color: $darkTextColor;
              line-height: 125%;
              letter-spacing: 0.05em;
              margin-bottom: 46px;
            }
            .accordion {
              .accordion-item {
                margin-bottom: 22px;
                border: initial;

                .accordion-header {
                  .accordion-button {
                    font-family: 'Open Sans-SemiBold';
                    color: #323232;
                    font-size: 16px;
                    letter-spacing: 0.02em;
                    padding: 14px;
                    padding-bottom: 3px;
                    gap: 15px;
                    background-color: $backgroundColorSoft;
                    box-shadow: initial;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    transition: 0.4s;

                    &.collapsed {
                      border-radius: 8px;
                      padding-bottom: 14px;
                    }

                    &::before {
                      @include flex_AlignBooth(center, center);
                      width: 30px;
                      height: 30px;
                      border-radius: 6px;
                      font-size: 16px;
                      font-family: 'Open Sans-SemiBold';
                    }
                    &::after {
                      background-image: url('./../img/icons/arrow-down.svg');
                      background-position: center;
                    }
                  }
                }
                .accordion-collapse {
                  .accordion-body {
                    background-color: $backgroundColorSoft;
                    padding: 0px 0px 21px 60px;
                    font-family: 'Open Sans-Regular';
                    font-size: 12px;
                    line-height: 183%;
                    letter-spacing: 0.02em;
                    color: $lightGrayTextColor;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                  }
                }

                &:nth-child(1) {
                  .accordion-header {
                    .accordion-button {
                      &::before {
                        content: '1';
                        color: #9444c9;
                        background-color: #f3e0ff;
                      }
                    }
                  }
                }
                &:nth-child(2) {
                  .accordion-header {
                    .accordion-button {
                      &::before {
                        content: '2';
                        color: #626fff;
                        background-color: #e7e9fe;
                      }
                    }
                  }
                }
                &:nth-child(3) {
                  .accordion-header {
                    .accordion-button {
                      &::before {
                        content: '3';
                        color: $orangeColor;
                        background-color: #ffdecc;
                      }
                    }
                  }
                }

                &:last-child {
                  margin-bottom: initial;
                }
              }
            }
          }
          .video-box {
            position: relative;
            width: 635px;
            height: 433px;

            .play-btn {
              cursor: pointer;
              width: 77px;
              height: 77px;
              position: absolute;
              top: calc(50% - 77px / 2);
              left: calc(50% - 77px / 2);
              transition: 0.4s;

              &:hover {
                transform: scale(120%);
              }
            }
          }
        }
      }
    }
  }
  section.why-choose-us {
    .wrapper {
      .flex-box {
        @include flex_verticalAlign(center);
        flex-direction: column;

        .title {
          font-family: 'Oswald-Regular';
          font-size: 40px;
          letter-spacing: 0.05em;
          color: $darkTextColor;
          margin-bottom: 20px;
          text-align: center;
        }
        .text {
          color: $lightGrayTextColor;
          line-height: 171%;
          letter-spacing: 0.02em;
          margin-bottom: 60px;
          text-align: center;
          max-width: 543px;
        }
      }
      .cards-box {
        @include flex_horizonAlign(justify-content);
        gap: 30px;

        article.card {
          background-color: #fff;
          border: initial;
          border-radius: 20px;
          padding: 40px 37px 34px;
          box-shadow: -1px 1px 20px 0 rgba(127, 127, 127, 0.1);
          cursor: pointer;
          transition: 0.4s;

          .icon-box {
            width: 60px;
            height: 60px;
            margin-bottom: 22px;
            border-radius: 7px;
            @include flex_AlignBooth(center, center);

            .icon {
              width: 34px;
              height: 34px;
            }
          }
          .title {
            font-family: 'Open Sans-SemiBold';
            font-size: 20px;
            letter-spacing: 0.02em;
            color: #323232;
          }
          .text {
            line-height: 157%;
            letter-spacing: 0.02em;
            color: #8f8f8f;
          }
          &:nth-child(1) {
            .icon-box {
              background-color: #6156dc;
            }
          }
          &:nth-child(2) {
            .icon-box {
              background-color: #ef6010;
            }
          }
          &:nth-child(3) {
            .icon-box {
              background-color: #a73eed;
            }
          }

          &:hover {
            box-shadow: 0 12px 30px 0 rgba(71, 71, 71, 0.15);
            transform: translateY(-15px);
            background-color: $backgroundColorExtraSoft;
          }
        }
      }
    }
  }
}
