@use 'reset';
@use 'fonts';
@use 'variables';

html {
  font-size: 14px;
  font-weight: 400;
  // font-family: $primaryFontRegular;
}
.wrapper {
  max-width: 1200px;
  margin: auto;

  // @media screen and (max-width: 360px) {
  //   padding-left: 16px;
  //   padding-right: 16px;
  // }
}
