@use 'reset';
@use 'fonts' as *;
@use 'variables' as *;

html,
body {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans-Regular';
  background-color: $backgroundColor;
}
.wrapper {
  max-width: 1100px;
  margin: auto;

  // @media screen and (max-width: 360px) {
  //   padding-left: 16px;
  //   padding-right: 16px;
  // }
}
.rating-variables {
  --stars-base: 5;
  --stars-mark: 4.5;
  --star-size: 13px;
  --gap: 6px;
  --star-color: #f5f5f5;
  --star-fill: #ffb800;
}
.mask-size {
  -webkit-mask-size: calc(var(--star-size) + var(--gap)) var(--star-size);
  mask-size: calc(var(--star-size) + var(--gap)) var(--star-size);
}

header {
  background-color: $backgroundColorSoft;
  padding: 23px 0px;

  .wrapper {
    @include flex_horizonAlign(space-between);

    .logo-box {
      @include flex_verticalAlign(center);
      gap: 4px;

      .logo-title {
        font-family: 'odibee_sans-regular';
        font-size: 29px;
        color: #272626;
      }
    }
    .nav-bar {
      @include flex_verticalAlign(center);

      ul.menu-container {
        display: flex;
        gap: 34px;
        li {
          .menu-item {
            font-family: 'Open Sans-Regular';
            color: $extraDarkTextColor;
            transition: 0.3s;

            &:hover {
              color: $violetTextColor;
            }
          }
        }
      }
    }
    .tools-box {
      @include flex_verticalAlign(center);
      gap: 26px;

      .search-box {
        position: relative;

        .search-input {
          font-family: 'Open Sans-Regular';
          border-radius: 50px;
          padding: 10px 20px;
          background-color: white;
          width: 307px;
          caret-color: #a5a5a5;

          &::placeholder {
            font-family: 'Open Sans-Regular';
            color: #a5a5a5;
          }
        }
        .search-btn {
          background-color: rgba(192, 194, 248, 0.22);
          width: 28px;
          height: 28px;
          border-radius: 50px;
          background-image: url('./../img/icons/search.svg');
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          top: calc(50% - 28px / 2);
          right: 7px;
          transition: $button-transition;

          &:hover {
            transform: scale(115%);
          }
        }
      }
      .auth-box {
        .sign-in,
        .sign-up {
          color: $extraDarkTextColor;
          font-family: 'Open Sans-Regular';
          transition: 0.3s;

          &:hover {
            color: $violetTextColor;
          }
        }
        .symbol {
          color: $extraDarkTextColor;
          font-family: 'Open Sans-Regular';
        }
      }
    }
  }
}
main {
  section.main-banner {
    background-color: $backgroundColorSoft;
    padding-top: 32px;
    margin-bottom: 32px;
    box-shadow: 0 22px 23px 0 rgba(49, 49, 49, 0.1);

    .wrapper {
      @include flex_verticalAlign(center);

      .content-box {
        .title {
          font-family: 'Prompt-Regular';
          font-size: 45px;
          line-height: 122%;
          color: $darkTextColor;
          letter-spacing: 0.07em;
          margin-bottom: 18px;

          span {
            color: $orangeColor;
          }
        }
        .text {
          color: $lightGrayTextColor;
          line-height: 171%;
          letter-spacing: 0.02em;
          margin-bottom: 30px;
        }
        .buttons-box {
          display: flex;
          gap: 29px;

          .discover-btn {
            font-size: 16px;
            color: white;
            letter-spacing: 0.02em;
            padding: 12px 22px;
            border-radius: 6px;
            background-color: $violetButtonColor;
            box-shadow: 0 4px 23px 0 rgba(49, 49, 49, 0.3);
            transition: $button-transition;

            &:hover {
              background-color: #3225c1;
            }
          }
          .watch-btn {
            color: black;
            font-size: 16px;
            border-radius: 6px;
            padding: 0px 5px;
            display: inline-flex;
            align-items: center;
            gap: 10px;
            transition: $button-transition;

            &:hover {
              background-color: #ededed;
            }

            .icon-play {
              border-radius: 50%;
              width: 44px;
              height: 44px;
              background-color: white;
              position: relative;

              &::before {
                @include before_after('./../img/icons/play.svg', 23px, 23px);
                position: absolute;
                top: calc(50% - 23px / 2);
                left: calc(50% - 23px / 2);
              }
            }
          }
        }
      }
    }
  }
  section.start-find-job {
    margin-bottom: 120px;
    .wrapper {
      .companies-logos-box {
        margin-bottom: 66px;
        @include flex_AlignBooth(space-between, center);

        .logo {
          &:nth-child(1) {
            width: 57px;
            height: 66px;
          }
          &:nth-child(2) {
            width: 126px;
            height: 106px;
          }
          &:nth-child(3) {
            width: 152px;
            height: 69px;
          }
          &:nth-child(4) {
            width: 119px;
            height: 112px;
          }
          &:nth-child(5) {
            width: 110px;
            height: 72px;
          }
          &:nth-child(6) {
            width: 105px;
            height: 104px;
          }
        }
      }
      .steps-for-job-box {
        .mini-title {
          font-family: 'Oswald-Regular';
          font-size: 12px;
          color: $orangeColor;
          letter-spacing: 0.05em;
          margin-bottom: 19px;
        }
        .flex-box {
          display: flex;
          gap: 40px;

          .content-box {
            .title {
              font-family: 'Oswald-Regular';
              font-size: 40px;
              color: $darkTextColor;
              line-height: 125%;
              letter-spacing: 0.05em;
              margin-bottom: 46px;
            }
            .accordion {
              .accordion-item {
                margin-bottom: 22px;
                border: initial;

                .accordion-header {
                  .accordion-button {
                    font-family: 'Open Sans-SemiBold';
                    color: #323232;
                    font-size: 16px;
                    letter-spacing: 0.02em;
                    padding: 14px;
                    padding-bottom: 3px;
                    gap: 15px;
                    background-color: $backgroundColorSoft;
                    box-shadow: initial;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    transition: 0.4s;

                    &.collapsed {
                      border-radius: 8px;
                      padding-bottom: 14px;
                    }

                    &::before {
                      @include flex_AlignBooth(center, center);
                      width: 30px;
                      height: 30px;
                      border-radius: 6px;
                      font-size: 16px;
                      font-family: 'Open Sans-SemiBold';
                    }
                    &::after {
                      background-image: url('./../img/icons/arrow-down.svg');
                      background-position: center;
                    }
                  }
                }
                .accordion-collapse {
                  .accordion-body {
                    background-color: $backgroundColorSoft;
                    padding: 0px 0px 21px 60px;
                    font-family: 'Open Sans-Regular';
                    font-size: 12px;
                    line-height: 183%;
                    letter-spacing: 0.02em;
                    color: $lightGrayTextColor;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                  }
                }

                &:nth-child(1) {
                  .accordion-header {
                    .accordion-button {
                      &::before {
                        content: '1';
                        color: #9444c9;
                        background-color: #f3e0ff;
                      }
                    }
                  }
                }
                &:nth-child(2) {
                  .accordion-header {
                    .accordion-button {
                      &::before {
                        content: '2';
                        color: #626fff;
                        background-color: #e7e9fe;
                      }
                    }
                  }
                }
                &:nth-child(3) {
                  .accordion-header {
                    .accordion-button {
                      &::before {
                        content: '3';
                        color: $orangeColor;
                        background-color: #ffdecc;
                      }
                    }
                  }
                }

                &:last-child {
                  margin-bottom: initial;
                }
              }
            }
          }
          .video-box {
            position: relative;
            width: 635px;
            height: 433px;

            .play-btn {
              cursor: pointer;
              width: 77px;
              height: 77px;
              position: absolute;
              top: calc(50% - 77px / 2);
              left: calc(50% - 77px / 2);
              transition: $button-transition;

              &:hover {
                transform: scale(120%);
              }
            }
          }
        }
      }
    }
  }
  section.why-choose-us {
    margin-bottom: 120px;

    .wrapper {
      .header-box {
        @include flex_verticalAlign(center);
        flex-direction: column;

        .title {
          @include title-in-header-box;
          margin-bottom: 20px;
        }
        .text {
          @include text-in-header-box;
          margin-bottom: 60px;
        }
      }
      .cards-box {
        @include flex_horizonAlign(justify-content);
        gap: 30px;

        article.card {
          @include card;
          padding: 40px 37px 34px;

          .icon-box {
            width: 60px;
            height: 60px;
            margin-bottom: 22px;
            border-radius: 7px;
            @include flex_AlignBooth(center, center);

            .icon {
              width: 34px;
              height: 34px;
            }
          }
          .title {
            font-family: 'Open Sans-SemiBold';
            font-size: 20px;
            letter-spacing: 0.02em;
            color: #323232;
          }
          .text {
            line-height: 157%;
            letter-spacing: 0.02em;
            color: #8f8f8f;
          }
          &:nth-child(1) {
            .icon-box {
              background-color: #6156dc;
            }
          }
          &:nth-child(2) {
            .icon-box {
              background-color: #ef6010;
            }
          }
          &:nth-child(3) {
            .icon-box {
              background-color: #a73eed;
            }
          }

          &:hover {
            @include card-hover;
            transform: translateY(-15px);
          }
        }
      }
    }
  }
  section.featured-jobs {
    position: relative;
    margin-bottom: 119px;

    .header-box {
      @include flex_verticalAlign(center);
      flex-direction: column;

      .title {
        @include title-in-header-box;
      }
      .text {
        @include text-in-header-box;
      }
    }

    .arrows-box {
      position: absolute;
      bottom: 200px;
      left: 69px;
      z-index: 5;
      display: flex;
      gap: 20px;

      .slick-arrow {
        position: relative;
        @include flex_AlignBooth(center, center);
        width: 60px;
        height: 60px;
        border-radius: 7px;
        background-color: $backgroundColorExtraSoft;
        cursor: pointer;
        transition: $button-transition;

        .icon {
          width: 31px;
          height: 27px;
          fill: #ef6010;
          transition: $button-transition;
        }

        &:hover {
          background-color: #ef6010;

          .icon {
            fill: #fff;
          }
        }
      }
    }

    .slick-slider {
      padding-top: 80px;
      padding-bottom: 76px;
      overflow-x: hidden;
      padding-left: 260px;

      .slick-list {
        .slick-track {
          display: flex;
          gap: 65px;
        }
      }

      .card {
        @include card;
        flex-direction: column;
        align-items: center;
        padding: 47px 75px;
        max-width: 380px;
        cursor: initial;

        .more-box {
          position: absolute;
          top: 40px;
          right: 37px;
          cursor: pointer;
          height: 20px;
          @include flex_verticalAlign(center);
          transition: 0.4s;

          .more-icon {
            width: 22px;
            height: 5px;
          }
          &:hover {
            scale: (120%);
          }
        }

        .avatar-box {
          @include flex_AlignBooth(center, center);
          width: 83px;
          height: 83px;
          border-radius: 50%;
          background-color: #fea06b;
          margin-bottom: 41px;

          img.avatar {
            -webkit-user-drag: none;
            border-radius: 50%;
          }
        }
        .speciality {
          font-size: 20px;
          letter-spacing: 0.02em;
          color: #323232;
          margin-bottom: 16px;
        }
        .team {
          color: $violetTextColor;
          letter-spacing: 0.02em;
          margin-bottom: 44px;
        }
        .conditions-box {
          margin-bottom: 33px;

          .condition {
            @include flex_verticalAlign(center);

            .salary,
            .location {
              letter-spacing: 0.02em;
              color: #323232;
              font-size: 16px;
              text-wrap: nowrap;
            }
            .info {
              color: #898989;
              font-size: 14px;
              letter-spacing: 0.02em;
              margin-left: auto;
            }

            &:has(.salary) {
              margin-bottom: 14px;

              &::before {
                @include before_after('./../img/icons/money-bag.svg', 15px, 18px);
                margin-right: 10px;
              }
            }
            &:has(.location) {
              &::before {
                @include before_after('./../img/icons/location.svg', 12px, 17px);
                margin-right: 10px;
              }
            }
          }
        }
        .buttons-box {
          @include flex_verticalAlign(center);
          gap: 29px;

          .like-btn {
            @include flex_AlignBooth(center, center);
            background-color: $backgroundColorExtraSoft;
            border-radius: 50%;
            width: 49px;
            height: 49px;
            transition: $button-transition;

            .icon {
              width: 23px;
              height: 21px;
              fill: $orangeColor;
              transition: $button-transition;
            }

            &:hover {
              background-color: $orangeColor;

              .icon {
                fill: #fff;
              }
            }
          }
          .apply-btn {
            @include violet-button;

            &:hover {
              @include violet-button-hover;
            }
          }
        }
        &:hover {
          @include card-hover;
          transform: translateY(-35px);
        }
      }
    }
    .btn-box {
      @include flex_horizonAlign(center);

      .apply-btn {
        @include violet-button;

        &:hover {
          @include violet-button-hover;
        }
      }
    }
  }
  section.customers-review {
    margin-bottom: 119px;

    .wrapper {
      .header-box {
        @include flex_verticalAlign(center);
        flex-direction: column;
        margin-bottom: 45px;

        .title {
          @include title-in-header-box;
        }
        .text {
          @include text-in-header-box;
        }
      }
      .slick-slider {
        .slick-list {
          overflow-x: hidden;

          .slick-track {
            display: flex;

            article.card {
              @include flex_verticalAlign(center);
              flex-direction: row;
              gap: 30px;
              border: initial;
              background-color: $backgroundColor;

              .person-picture {
              }
              .content-box {
                .name {
                  font-size: 20px;
                  font-family: 'Open Sans-Semibold';
                  letter-spacing: 0.02em;
                  color: #323232;
                  margin-bottom: 13px;
                }
                .post {
                  font-family: 'Open Sans-Regular';
                  letter-spacing: 0.02em;
                  color: #868686;
                  margin-bottom: 16px;
                }
                .rating-box {
                  @include flex_AlignBooth(end, center);
                  margin-bottom: 6px;
                  gap: 6px;

                  .stars-box {
                    position: relative;

                    .rating-based {
                      @extend .rating-variables;
                      position: relative;
                      z-index: 2;
                      width: calc(var(--stars-base) * (var(--star-size) + var(--gap)));
                      height: var(--star-size);
                      background: var(--star-fill);
                      -webkit-mask: url('./../img/icons/star-empty.svg') repeat-x;
                      mask: url('./../img/icons/star-empty.svg') repeat-x;
                      mask-size: calc(var(--star-size) + var(--gap)) var(--star-size);
                    }
                    .rating-filled {
                      @extend .rating-variables;
                      position: absolute;
                      top: 0px;
                      right: 0px;
                      width: calc(var(--stars-base) * (var(--star-size) + var(--gap)));
                      height: var(--star-size);
                      background: linear-gradient(
                        90deg,
                        var(--star-fill) calc(var(--stars-mark) / var(--stars-base) * 100%),
                        var(--star-color) calc(var(--stars-mark) / var(--stars-base) * 100%)
                      );
                      -webkit-mask: url('./../img/icons/star-filled.svg') repeat-x;
                      mask: url('./../img/icons/star-filled.svg') repeat-x;
                      mask-size: calc(var(--star-size) + var(--gap)) var(--star-size);
                    }
                  }
                }
                .text {
                  font-family: 'Open Sans-Regular';
                  line-height: 171%;
                  letter-spacing: 0.02em;
                  color: #383838;
                  margin-bottom: 51px;
                }
                .interaction-box {
                  @include flex_AlignBooth(space-between, center);

                  .arrows-box {
                    display: flex;
                    gap: 15px;

                    .slick-arrow {
                      position: relative;
                      @include flex_AlignBooth(center, center);
                      width: 41px;
                      height: 41px;
                      border-radius: 7px;
                      background-color: $backgroundColorExtraSoft;
                      cursor: pointer;
                      transition: $button-transition;

                      .icon {
                        width: 21px;
                        height: 18px;
                        fill: #ef6010;
                        transition: $button-transition;
                      }

                      &:hover {
                        background-color: #ef6010;

                        .icon {
                          fill: #fff;
                        }
                      }
                    }
                  }
                  .persons-avatars-box {
                    display: flex;

                    .avatar-box {
                      background-color: $orangeColor;
                      border-radius: 50%;
                      width: 51px;
                      height: 51px;
                      @include flex_AlignBooth(center, center);
                      color: $violetTextColor;
                      letter-spacing: 0.02em;
                      position: relative;

                      .avatar {
                        border-radius: 50%;
                        margin: auto;
                      }

                      &.quantity {
                        background-color: #a9a3e9;
                      }
                      &:nth-child(1) {
                        left: calc(51px * 0.4 * 3);
                        z-index: 1;
                      }
                      &:nth-child(2) {
                        left: calc(51px * 0.4 * 2);
                        z-index: 2;
                      }
                      &:nth-child(3) {
                        left: calc(51px * 0.4);
                        z-index: 3;
                      }
                      &:nth-child(4) {
                        z-index: 4;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  section.pricing-plan {
    margin-bottom: 122px;

    .wrapper {
      .header-box {
        @include flex_verticalAlign(center);
        flex-direction: column;
        margin-bottom: 75px;

        .title {
          @include title-in-header-box;
        }
        .text {
          @include text-in-header-box;
        }
      }
      .cards-box {
        @include flex_horizonAlign(space-between);

        .card {
          @include card;
          max-width: 350px;
          padding: 62px 65px;

          .title {
            font-family: 'Open Sans-SemiBold';
            color: $violetTextColor;
            letter-spacing: 0.02em;
            font-size: 20px;
            margin: 0 auto;
            margin-bottom: 31px;
          }
          .cost {
            font-family: 'Oswald-Regular';
            font-size: 45px;
            color: $darkTextColor;
            letter-spacing: 0.07em;
            margin: 0 auto;
            margin-bottom: 24px;
          }
          .period {
            font-size: 16px;
            color: #8a86b9;
            letter-spacing: 0.02em;
            margin: 0 auto;
            margin-bottom: 71px;
          }
          ul.favours-list {
            margin-bottom: 47px;

            li {
              @include flex_verticalAlign(center);
              margin-bottom: 19px;
              gap: 11px;

              &:before {
                @include before_after('./../img/icons/done-filled.svg', 16px, 16px);
              }

              .favour {
                color: $lightGrayTextColor;
                letter-spacing: 0.02em;
              }
              &:last-child {
                margin-bottom: initial;
              }
            }
          }
          .buttons-box {
            margin: 0 auto;

            .purchase-btn {
              @include violet-button;
              padding: 13px 23px;

              &:hover {
                @include violet-button-hover;
              }
            }
          }
          &:hover {
            @include card-hover;
            transform: translateY(-30px);
          }
        }
      }
    }
  }
}
footer {
  background-color: #dbe2ff;
  border-radius: 30px 30px 0px 0px;
  padding-top: 110px;

  .wrapper {
    .footer-menu {
      @include flex_horizonAlign(space-between);
      padding-bottom: 98px;
      border-bottom: 2px solid #625bae;

      .categories-box {
        .title {
          font-family: 'Oswald-Regular';
          color: $darkTextColor;
          letter-spacing: 0.05em;
          font-size: 24px;
          margin-bottom: 28px;
        }
        .categories {
          li {
            margin-bottom: 20px;

            .categories-item {
              font-size: 16px;
              color: #717171;
              letter-spacing: 0.02em;
              transition: 0.3s;

              &:hover {
                color: $violetTextColor;
              }
            }
            &:last-child {
              margin-bottom: initial;
            }
          }
        }
      }
    }
    .footer-nav-bar {
      @include flex_AlignBooth(space-between, center);
      padding-top: 13px;
      padding-bottom: 13px;

      .logo-box {
        @include flex_verticalAlign(center);
        gap: 6px;

        .logo-title {
          font-family: 'odibee_sans-regular';
          font-size: 16px;
          color: #272626;
        }
      }
      .nav-bar-menu {
        display: flex;

        li {
          line-height: 217%;
          width: 130px;
          text-align: center;

          .nav-bar-item {
            font-family: 'Open Sans-SemiBold';
            font-size: 12px;
            letter-spacing: 0.02em;
            color: #3a2e5c;
            transition: 0.4s;

            &:hover {
              font-size: 14px;
            }
          }
        }
      }
      .social-media-box {
        display: flex;
        gap: 8px;

        .social-media-item {
          display: flex;
          width: 29px;
          height: 29px;
          border-radius: 50%;
          background-color: #ffffff;
          cursor: pointer;
          transition: 0.4s;

          .icon {
            margin: auto;
            width: 13px;
            height: 13px;
            fill: #979797;
            transition: 0.4s;
          }

          &:hover {
            background-color: rgba(66, 56, 175, 0.81);

            .icon {
              fill: #ffffff;
            }
          }
        }
      }
    }
  }
}
